<footer class="footer">
    <h4 class="footer-title">PANKUNIK</h4>
    <p class="footer-sentence">Zajrzyj na moje portale społecznościowe!</p>

    <article class="footer-socials">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-instagram"></i>
    </article>

    <p class="footer-copy">PANKUNIK &copy; @DateTime.Now.Year</p>
</footer>