<footer class="footer">
    <h4 class="footer-title">PANKUNIK</h4>
    <p class="footer-sentence">Zajrzyj na moje portale społecznościowe!</p>

    <article class="footer-socials">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="https://pl.linkedin.com/in/patryk-kunicki-a551401a9"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/pankunik"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/pankunik/"><i class="fab fa-instagram"></i></a>
    </article>

    <p class="footer-copy">PANKUNIK &copy; @DateTime.Now.Year</p>
</footer>