<header class="header">
    <div class="header-overlay"></div>
    <h1 class="header-title">PANKUNIK</h1>
    <h2 class="header-sentence">Programista z wypiekami</h2>

    <div class="hamburger-icon">
        <i class="fas fa-bars"></i>
    </div>
</header>

<div class="navigation-bar">
</div>