<div>
    <nav class="navigation-bar">
        <NavLink class="navigation-item" href="" Match="NavLinkMatch.All">
            Strona główna
        </NavLink>
        <NavLink class="navigation-item" href="about">
            O mnie 
        </NavLink>
        <NavLink class="navigation-item" href="projects">
            Projekty
        </NavLink>
        <NavLink class="navigation-item" href="contact">
            Kontakt
        </NavLink>
    </nav>
</div>
