.images-bar,
.images-bar div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.images-bar div {
    flex-grow: 1;
    width: 100%;

    /* width: 100%; */
    /* For scaling from 2x2 to 1x4 */
}

/* @media  (max-width: 900px) {
    .images-bar div {
        width: 100%;
    }
    
    .image-bar-second-row {
        display: none !important;
    }
} 

.image-bar-second-row {
    display: flex;
}
*/
/* For scaling image bar from 1x4 to 2x2 */

.images-bar div .image-wrapper {
    width: calc(100% / 4);
    height: 50vw;
    max-height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1285px) {
    .images-bar div .image-wrapper {
        width: calc(100% / 2);
    }

    .third-image {
        display: none !important;
    }
}

@media (max-width: 1800px) {
    .images-bar div .image-wrapper {
        width: calc(100% / 3);
    }

    .fourth-image {
        display: none !important;
    }
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}