.paragraph-title {
    font-size: 1.4rem;
    font-family: var(--ff-primary);
    font-weight: 700;
    text-align: center;
    margin-top: 2.75em;
    margin-bottom: .8em;
}

.paragraph-title:before {
    font-family: var(--ff-primary);
    font-weight: 700;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-0.575em);
    color: rgba(73, 13, 13, 0.03);
}

.greetings-before:before {
    content: 'Cześć';
    font-size: 8.25rem;
}

.about-me-before:before {
    content: 'O mnie';
    font-size: 6.6rem;
}

.last-choice-before:before {
    content: '.NET';
    font-size: 8rem;
}

.hobby-before:before {
    content: 'Hobby';
    font-size: 7rem;
}

.text-paragraph {
    font-size: 1.3em;
    font-family: var(--ff-primary);
    text-align: justify;
    padding: 1em;
}