@page "/"

<article>
    <section>
        <h3 class="paragraph-title greetings-before">Jestem Patryk Kunicki i jestem programistą .NET</h3>
        <p class="text-paragraph">
            Na codzień programuję w technologiach .NET z wykorzystaniem języka C#.
            Obecnie pracuję jako programista w firmie zajmującej się transportem, logistyką oraz spedycją.
            Jestem absolwentem informatyki inżynierskiej na Uniwersytecie Śląskim ze specjalizacją
            Programista gier komputerowych. Moje największe hobby to pieczenie własnego pieczywa
            (i nie tylko) na naturalnym zakwasie oraz jazda na rowerze (zarówno zimą jak i latem).
        </p>

        <ImagesBar ImageIndexes=@firstImages CanBeLazyLoaded=false />
    </section>


    <section>
        <h3 class="paragraph-title about-me-before">Kilka słów o mnie</h3>
        <p class="text-paragraph">
            Programowaniem zainteresowałem się w I klasie technikum. Zaczynając od języka Pascal.
            Po kilku lekcjach postanowiłem wziąć się za naukę programowania w domu i stwrozyłem prostą
            grę tekstową. W II klasie rozpoczęły się zajęcia z projektowania stron internetowych. Był to
            kolejny "kop" dawki ciekawej wiedzy i zainteresowałem się technologiami HTML i CSS tworząc
            statyczne "strony internetowe". Później przeszliśmy z Pascala na język C++. Od tamtego momentu
            zacząłem pisać programu na okrągło. Proste kalkulatory podstawowych obliczeń, do funkcji
            kwadratowych. Programy operujące na plikach i wiele innych. Później poznałem takie języki jak
            Javascript, PHP czy języki zapytań MySQL oraz SQL.
        </p>

        <ImagesBar ImageIndexes=@secondImages CanBeLazyLoaded=true />
    </section>

    <section>
        <h3 class="paragraph-title last-choice-before">Ostatecznie wybrałem C#</h3>
        <p class="text-paragraph">
            Na studiach używałem wielu języków programowania Assembler, C++, Java, JavaScript, Basic i
            kilka silników do tworzenia gier komputerowych. Ostatecznie zostałem przy języku C#. Taki też
            wybór padł przy tworzeniu pracy inżynierskiej wykorzystując ASP.NET Framework MVC wraz z systemem
            zarządzania bazą danych Microsoft SQL Server. To właśnie podczas tworzenia tego projektu uczyłem
            się programowania w C# oraz .NET.
        </p>

        <ImagesBar ImageIndexes=@thirdImages CanBeLazyLoaded=true />
    </section>

    <section>
        <h3 class="paragraph-title hobby-before">Pieczywo, kod i rower</h3>
        <p class="text-paragraph">
            Odkąd pamiętam zawsze miałem rower. Zaczynając od małego trójkołowca, którym jeździłem po mieszkaniu.
            Później mając swój pierwszy rower potrafiłem 2-3 razy dziennie jeździć nad jezioro w miejscowości
            obok (ok. 60 km przejażdżka). Swój obecny rower składałem praktycznie od podstaw, wymieniając
            kolejne części. Pora roku nigdy nie stała na przeszkodzie, aby przejechać się rowerem.
        </p>
        <p class="text-paragraph">
            Pewnego razu postanowiłem spróbować swoich sił w domowych wypiekach. Spontanicznie stwierdziłem,
            że spróbuję wyhodować własny zakwas chlebowy. Kiedy przyszedł dzień, w którym zakwas był gotowy
            upiekłem swój pierwszy chleb. Nie był to najładniejszy chleb jaki widziałem, ale na pewno był
            jednym z najsmaczniejszych. Zapach, smak i radość to coś, czego nie zastąpi żadne kupne pieczywo.
        </p>

        <ImagesBar ImageIndexes=@fourthImages CanBeLazyLoaded=true />
    </section>
</article>

@code {
    private int?[] firstImages = {0, 2, null, null};
    private int?[] secondImages = {3, 4, null, null};
    private int?[] thirdImages = {5, 8, null, null};
    private int?[] fourthImages = {9, 7, null, null};
}