@page "/projekt-inzynierski"

<article>
    <section>
        <h3 class="paragraph-title paragraph-main-title">Projekt inżynierski</h3>
        <p class="engineering-title-quote">
            &ldquo;Aplikacja sieciowa wspomagająca proces sprzedaży oraz obsługę pogwarancyjną dla
            przedsiębiorstwa z branży rowerowej&rdquo;
        </p>

        <img class="engineering-image" src="images/engineering-images/bikevision-about.jpg" />
    </section>

    <section>
        <h3 class="paragraph-title introduction-before">Wstęp</h3>
        <p class="text-paragraph">
            Celem mojej pracy inżynierskiej było wykonanie projektu oraz implementacja nowoczesnej
            aplikacji internetowej, która umożliwi dokonanie zakupu części rowerowych, za pomoca
            przeglądarki internetowej. Ponadto aplikacja internetowa umożliwi zlecenie usługi
            serwisowej przez klienta do serwisu. Jest to cecha, której nie posiadają inne aplikacje
            internetowe świadczące tego typu usługi. Założeniem tej aplikacji internetowej jest
            usprawnienie procesu kupowania produktów przez Internet tak, aby był on bezpieczny i
            prosty.
        </p>
    </section>

    <section>
        <h3 class="paragraph-title functions-before">Zaimplementowane funkcje</h3>
        <p class="text-paragraph">
            Podstawową funkcją tej aplikacji internetowej jest możliwość przeglądania produktów
            znajdujących się w bazie sklepu. Produkty są wyświetlane w formie siatki, ale użytkownik
            ma możliwość przełączenia siatki produktów na listę. W przypadku siatki produktów najeżdżając
            kursorem myszy na dany produkt jego obszar zostanie powiększony i zostaną wyświetlone dodatkowe
            przyciski (tj. dodaj koszyka, ulubionych lub porównywarki). Umożliwiają one szybkie wykonanie
            akcji przy minimalnej ilości kliknięć myszą. Jeżeli dany produkt posiada różne warianty
            kolorystyczne, miniatura każdego wariantu zostanie wyświetlona po prawej stronie. Klikając
            w miniaturę przejdziemy do strony produktu w konkretnym wariancie kolorystycznym. Użytkownik
            ma również możliwość sortowania listy wyników oraz sortowanie ich po cenie lub alfabetycznie.
        </p>

        <img class="engineering-image" src="images/engineering-images/bikevision-products.jpg" />

        <p class="text-paragraph">
            Po wybraniu przedmiotów, które użytkownik chce zamówić ma on możliwość przejścia do koszyka.
            Wewnątrz koszyka zostaje policzona kwota całego zamówienia (wraz z wybraną opcją dostawy).
            Dodatkowo w koszyku użytkownik ma możliwość edycji znajdujących się tam produktów. Ma on
            możliwość zwiększenia, badź zmniejszenia liczby produktów za pomocą przycisków "+" i "-",
            jak i całkowitego usunięcia danego produktu z koszyka. Użytkownik ma również możliwość
            wprowadzenia kodu rabatowego. Kody rabatowe mogą zostać stworzone przez osoby zarządzające
            aplikacją wprowadzając produkt objęty rabatem, wartość procentową rabatu na dany produkt oraz
            maksymalną liczbę użyć danego rabatu dla konkretnych użytkowników (pozwala to ustalić czy kod
            jest jednorazowy, czy wielokrotnego użytku).
        </p>

        <img class="engineering-image" src="images/engineering-images/bikevision-cart.jpg" />
        
        <p class="text-paragraph">
            W aplikacji istnieje możliwość porównywania produktów. Wystarczy dodać produkty do porównywarki
            i przejść do niej klikając przycisk "O". Ukazane zostaną wszystkie produkty oraz ich cechy w
            formie tabeli z wyszczególnionymi cechami, które różnią porównywane produkty. W przypadku, gdy
            użytkownik chce zapisać produkty, które mu odpowiadają może dodać je do ulubionych. Jeżeli
            użytkownik nie jest zalogowany, wtedy produkty zapisane jako ulubione zostaną usunięte po
            zamknięciu przeglądarki. Jeżeli użytkownik chce je zapisać i mieć do nich dostęp z innych
            miejsc musi posiadać konto w aplikacji i być na nim zalogowany.
        </p>

        <img class="engineering-image" src="images/engineering-images/bikevision-registration.jpg" />
        
        <p class="text-paragraph">
            Użytkownik aplikacji, który posiada konto użytkownika ma możliwość stworzenia zapytania
            serwisowego. Wymagane jest wybranie kategorii, która wstępnie określi rodzaj występującej
            usterki, wpisanie tytułu oraz krótkiego opisu występującej usterki. Po utworzeniu zlecenia
            użytkownik ma możliwość zobaczenia jaki jest jego status w panelu użytkownika. Dodatkowo może
            wymieniać się informacjami z pracownikiem serwisu, który przyjąl zlecenie serwisowe do
            realizacji. 
        </p>

        <img class="engineering-image" src="images/engineering-images/bikevision-service-order.jpg" />
        
    </section>
</article>