@page "/"

<div class="index-content">
    <div class="left-side">
        <h2 id="index-title">Programista .NET z zamiłowaniem do wypieków</h2>
        <p id="index-description">
            <span id="hello-word">Cześć!</span>
            Jestem <span style="font-weight: bold">Patryk Kunicki</span> i na co dzień programuję w technologii .NET. Jestem absolwentem informatyki inżynierskiej na Uniwersytecie Śląskim ze specjalizacją Programista gier komputerowych.
             Zawodowo zajmuję się programowaniem w języku C#, a po godzinach zamieniam się w domowego piekarza : &rpar;
        </p>
        <p id="index-subdescription">
            Zapraszam na moje portale społecznościowe oraz do zapoznania się z treścią na tej stronie.
        </p>
        <NavLink class="contact-me-button" href="contact">Skontaktuj się<br />ze mną</NavLink>
    </div>
    <div class="right-side">
        <div class="avatar-cards first-avatar-card"></div>
        <div class="avatar-cards second-avatar-card"></div>
        <div class="avatar-cards third-avatar-card">Tutaj będzie avatar</div>
    </div>
</div>
